<div class="container-fluid bg-dark text-light p-5" style="background: linear-gradient(to bottom, #7f6ac9 0%, #cbbdff 100%); background-repeat: no-repeat; background-size: 100% 100%; opacity: 1;">
             <!-- <div class="row border shadow-lg p-5 bg-opacity-50" > 
                <img src="{%static 'Images\pexels-pixabay-326576.jpg' %}" style="background-repeat: no-repeat; background-size: 100% 100%; opacity: 1;" > -->
        <div class="container-fluid p-0 m-0" style="background-image: url('IMAGES/camera.jpg'); background-repeat:no-repeat; background-size:100% 400vh;">
              <div class="bg-light bg-opacity-50 p-5 m-0">
                <div class="row">
                    <div class="col-6 p-0 bg-dark bg-opacity-50" height="500px" style="background-image: url('IMAGES/camera1.jpg'); background-repeat: no-repeat; background-size: 100% 125%; border-radius: 20px;   ">
                        <div class="bg-dark bg-opacity-50 p-5" style="height: 100%; width: 100%; border-radius: 20px; ">
            <!-- <img src="" height="400px" class="d-block w-100" alt="" style="filter: opacity(.5);">       -->
                <div class="col-12 pt-4 ps-5">Get in touch with us</div>
        <div class="col-12 pt-4 text-center"><h2 style="font-family:Georgia, serif; font-size: 50px;">Contact us for any question!</h2></div>
           <div class="col-12 ps-5 pe-4 pt-4 pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum earum perspiciatis, tenetur mollitia, illum odio corrupti,
            ex veritatis maxime est dolores velit labore fugiat nam dicta iusto omnis alias laudantium?</div>
             <!-- <div class="col-12 pt-5">
                <button class="btn btn-lg text-dark fw-bold m-4" style="background-color: aquamarine">Details</button>
            </div>  -->
        </div>
        </div>
        <div class="col-6 p-5 m-0">
             <h1 class="mb-5 text-dark" style="text-align: center; text-decoration: underline;"><span style="color:#7f6ac9">C</span>ONTACT <span style="color:#8076a8">U</span>S</h1>
            
                
                <label for="">Name</label>
                <input type="text" class="form-control mb-4" name="user_name" placeholder="name" >

                <label for="">Email</label>
                <input type="email" name="user_email" placeholder="dummy@gmail.com" class="form-control mb-4">

                <label for="">Your Message</label>
                <textarea rows="5" cols="30" class="form-control mb-3" placeholder="Message" name="message"></textarea> 
      <!-- <button type="submit" class="btn btn-secondary" style="background-color: #ffd200;"><h6></h6>Send Message</button> -->
      <button class="btn btn-lg text-light fw-bold m-4" style="background-color: #7f6ac9">Contact</button>
            </form>
            </div>
        </div>
     </div>
    </div>
            
            <div class="alert alert-success">
                Message Sent
            </div>
            
        </div>