
                  {% extends 'header.html' %}
 {% load static %}


{% block content %}
<style type="text/css">
body  {
  background-image: url("{%static 'IMAGES/IMG_20220515_162224.jpg' %}");
   background-size: cover ;

  background-color: #cccccc;
}

form{
    height: 500px;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}


form *{
    font-family: 'Times New Roman',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;}

    form h1{
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
     font-weight: bold;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder !important{
    color: #ffffff;
}

button{
    margin-top: 45px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

h1 {text-align: center;
   font-family: 'Times New Roman', serif;
font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(30px 10px 4px #606060);}
    h2{
      font-size: 30px;
    font-weight: bold;
    filter: drop-shadow(30px 10px 4px #606060);  
    }

</style>

<div id="grad1">
            <div class="row pt-5">
                <div class="col-6">
            <img src="{%static 'IMAGES/forgot2.png'%}"   align="center" width="100%">
            <h2>Don't worry. Recovering your password is easy, just tell us the email address you registered with.</h2>
        </div>
        <div class="col-6">
             <form method = "POST">
            {% csrf_token %}

            <h1 class="text-center">FORGOT PASSWORD?</h1>

   <label>Email Address</label>        
   <input type="email" required class="form-control mb-4" placeholder=" Enter your registerd Email Address"  name="em"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
   
  <button>RECOVER PASSWORD</button>


 
 </form>

 </div>

</div>
{% if res == 1 %}<br><br>
<div class="alert alert-danger mt-3">
    This email id is not registered.
</div>
{% endif %}

        </div>
    </div>
    </div><br><br>
{%  endblock %}