
                  {% extends 'header.html' %}
 {% load static %}


{% block content %}
<style type="text/css">
    body  {
  background-image: url("{%static 'IMAGES/IMG_20220515_124341.jpg' %}");
   background-size: cover ;

  background-color: #cccccc;
}

 form{
    height: 500px;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}


form *{
    font-family: 'Times New Roman',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;}

    form h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
     font-weight: bold;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder !important{
    color: #ffffff;
}

button{
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

h1 {text-align: center;
   font-family: 'Times New Roman', serif;
font-size: 50px;
    font-weight: bold;
    filter: drop-shadow(30px 10px 4px #606060);}
    p{
        color: black;
        font-size: 20px;
    }

    h5 {text-align: center;
   font-family: 'Times New Roman', serif;}

</style>


<div id="grad1">
            <div class="row pt-5">
                <div class="col-6" data-aos="zoom-in-right">
            <img src="{%static 'imageedit_1_3864943033.png'%}"   align="center" width="90%">
        </div>
        <div class="col-6" data-aos="zoom-in-left">
             <form method = "POST">
            {% csrf_token %}

            <h1 class="text-center">LOGIN</h1>
            <label>All fields are required.</label>

           
   <input type="email" required class="form-control mb-4" placeholder="Email Address"  name="user_mail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

 
   <input type="password" required class="form-control mb-2" placeholder="Password"  name="user_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required >
<div class="text-end mb-4">
    <a href="{% url 'forgotpassword' %}" class="fw-bold text-dark text-decoration-none">Forgot Password?</a><br><br>
    <p>New user? Click here to <a href="{% url 'userregister' %}">Sign up.</a>
</div>
   
  <button>SIGN IN</button>
  <!--pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"-->


 
 </form>

 </div>

</div>
{% if res == 1 %}<br><br>
<div class="alert alert-danger mt-3">
    Invalid credentials
</div>
{% endif %}

        </div>
    </div>
    </div><br><br>
    

{% endblock %}
 

                    
               